name: Devops real project 2

on:
  push:
    branches: ["main"]

jobs:
  devops-real-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code 
      uses: actions/version@v4

    - name: Python setup
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies 
      run: pip install -r requirements.txt
